#content {
  width: 840px;
  -webkit-transform: scaleX(0.583);
  transform: scaleX(0.583);
}

#hero {
  animation: heroAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes heroAnimation {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0%);
  }
}

.ascii {
  display: inline-block;
  white-space: pre;
  letter-spacing: 0;
  line-height: 10px;
  font-family: 'Consolas', 'BitstreamVeraSansMono', 'CourierNew', Courier,
    monospace;
  font-size: 12px;
  -webkit-transform: scaleX(0.65);
  transform: scaleX(0.65);
  text-align: justify;
  width: 840px;
  transform-origin: left;
  color: #fbd38d;
}

#flashing {
  animation: blinker 1s step-start infinite;
  color: #fbd38d;
}

@keyframes blinker {
  25% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}
